*.sdf

BaaerClient/ipch/
BaaerClient/Debug/
BaaerClient/BaaerClient/Debug
BaaerClient/BaaerClient/Release
BaaerClient/Release


BaaerServer/ipch/
BaaerServer/Debug/
BaaerServer/BaaerServer/Debug
BaaerServer/BaaerServer/Release
BaaerServer/Release

*.opensdf

*.user

